.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold; 
  text-align: center;
}

#product-section {
  display: flex;
}

#product-section .row {
  padding: 20px;
}

#actv-glasses-top-cover {
  margin-bottom: 2rem;
}

#product-section .card {
  margin-right: 10px;
  width: 27vw;
  background-color: rgb(224, 224, 224);
  box-shadow: 5px 5px 10px black;
}


#all-container {
  width: 26.6vw;
  height: 200px;
  margin-left: -10px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}


.product1-container-ACTV-performace {
  background-image: url("ACTV-img/actv1.avif");
}

.product1-container-ACTV-performace:hover {
  animation: product1Cycle-ACTV-performace 10s forwards infinite;
}

@keyframes product1Cycle-ACTV-performace {
  0%, 4% { background-image: url("ACTV-img/actv1.avif"); }
  5%, 28% { background-image: url("ACTV-img/actv1.avif"); }
  29%, 52% { background-image: url("ACTV-img/actv3.avif"); }
  53%, 76% { background-image: url("ACTV-img/actv4.avif"); }
  77%, 100% { background-image: url("ACTV-img/actv5.avif"); }
}

.progress-bar {
  width: 0%;
  height: 5px;
  background-color: black;
  transition: width 0.25s linear; 
}

.product1-container-ACTV-performace:hover + .progress-bar,
.product2-container-ACTV-performace:hover + .progress-bar,
.product3-container-ACTV-performace:hover + .progress-bar,
.product4-container-ACTV-performace:hover + .progress-bar,
.product5-container-ACTV-performace:hover + .progress-bar,
.product6-container-ACTV-performace:hover + .progress-bar{
  animation: progressBarCycle 10s forwards infinite;
}

@keyframes progressBarCycle {
  0% { width: 0%; }
  4% { width: 4%; }
  28% { width: 28%; }
  52% { width: 52%; }
  76% { width: 76%; }
  100% { width: 100%; }
}

.product2-container-ACTV-performace {
  background-image: url("ACTV-img/emeraldelm1.avif");
}

.product2-container-ACTV-performace:hover {
  animation: product2Cycle 10s forwards infinite;
}

@keyframes product2Cycle {
  0%, 4% { background-image: url("ACTV-img/emeraldelm1.avif"); }
  5%, 28% { background-image: url("ACTV-img/emeraldelm2.avif"); }
  29%, 52% { background-image: url("ACTV-img/emeraldelm3.avif"); }
  53%, 76% { background-image: url("ACTV-img/emeraldelm4.avif"); }
  77%, 100% { background-image: url("ACTV-img/emeraldelm5.avif"); }
}

.product3-container-ACTV-performace {
  background-image: url("ACTV-img/riley1.avif");
}

.product3-container-ACTV-performace:hover {
  animation: product3Cycle-ACTV-performace 10s forwards infinite;
}

@keyframes product3Cycle-ACTV-performace {
  0%, 4% { background-image: url("ACTV-img/riley1.avif"); }
  5%, 28% { background-image: url("ACTV-img/riley2.avif"); }
  29%, 52% { background-image: url("ACTV-img/riley3.avif"); }
  53%, 76% { background-image: url("ACTV-img/riley4.avif"); }
  77%, 100% { background-image: url("ACTV-img/riley5.avif"); }
}

.product4-container-ACTV-performace {
  background-image: url("ACTV-img/monroe1.avif");
}

.product4-container-ACTV-performace:hover {
  animation: product4Cycle 10s forwards infinite;
}

@keyframes product4Cycle {
  0%, 4% { background-image: url("ACTV-img/monroe1.avif"); }
  5%, 28% { background-image: url("ACTV-img/monroe2.avif"); }
  29%, 52% { background-image: url("ACTV-img/monroe3.avif"); }
  53%, 76% { background-image: url("ACTV-img/monroe4.avif"); }
  77%, 100% { background-image: url("ACTV-img/monroe5.avif"); }
}

.product5-container-ACTV-performace {
  background-image: url("ACTV-img/gates1.avif");
}

.product5-container-ACTV-performace:hover {
  animation: product5Cycle 10s forwards infinite;
}

@keyframes product5Cycle {
  0%, 4% { background-image: url("ACTV-img/gates1.avif"); }
  5%, 28% { background-image: url("ACTV-img/gates2.avif"); }
  29%, 52% { background-image: url("ACTV-img/gates3.avif"); }
  53%, 76% { background-image: url("ACTV-img/gates4.avif"); }
  77%, 100% { background-image: url("ACTV-img/gates5.avif"); }
}






.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  #product-section .card {
    width: 23rem;
    margin-left: 20px;
  }

  #all-container {
    width: 106% !important;
    height: 200px !important;
  }

  #product-section .row {
    padding: 12px;
  }
}


@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}


@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  #product-section .card {
    width: 12rem;
    font-size: 15px;
  }

  #product-section .card h3,
  #product-section .card h5 {
    font-size: 19px;
  }

  #all-container {
    width: 105% !important;
    height: 100px !important;
    margin-left: -5px;
  }

  #product-section .row {
    padding: 10px;
  }
}


@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  #product-section .card {
    width: 11rem;
    font-size: 15px;
  }

  #product-section .card h3,
  #product-section .card h5 {
    font-size: 19px;
  }

  #all-container {
    width: 105% !important;
    height: 90px !important;
    margin-left: -5px;
  }

  #product-section .row {
    padding: 5px;
  }
}


@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  #product-section .card {
    width: 136px;
    font-size: 12px;
    margin-left: 10px;
  }

  #product-section .card h3,
  #product-section .card h5 {
    font-size: 14px;
  }

  #all-container {
    width: 110% !important;
    height: 90px !important;
    margin-left: -5px;
  }

  #product-section .row {
    padding: 5px;
  }
}


@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  #product-section .card {
    width:30vw;
    font-size: 12px;
  }

  #product-section .card h3,
  #product-section .card h5 {
    font-size: 15px;
  }

  #all-container {
    width: 115% !important;
    height: 90px !important;
    margin-left: -8px;
  }
}